<%= form_tag('/ideas/create', method: :post, class: 'form--inpage') do %>
<div class="input-group input-group--horizontal">
  <label class="input-group__label" for="title">Title</label>
<%= text_field_tag('title', nil, class: 'input-group__field', placeholder: 'E.g. Ride a camel') %>
</div>
<div class="prompt">
<%= link_to('Cancel', account_ideas_path, class: 'prompt__cancel') %>
<%= button_tag('Create idea', class: 'btn btn--primary prompt__confirm') %>
</div>
<% end %>
