<div class="card">
  <div class="card__thumb">
    <a href="ideas/one-example-idea.html">
      <img src="http://fpoimg.com/255x170"
           alt="Northern lights over mountain covered in snow">
    </a>
    <div class="card__intro">
      <h4 class="card__title"><%= idea.title %></h4>
      <span><%= idea.done_count %></span>
    </div>
  </div>
  <div class="card__footer">
    <a class="card__btn card__like delta" data-like="see-the-northern-lights" href="<%= show_idea_path(idea) %>" >
      <svg class="icon-heart icon-heart--liked" role="presentation">
        <use xlink:href="images/icons-defs.svg#heart"></use>
      </svg>
      Show
    </a>
    <a class="card__btn card__add delta" href="<%= edit_idea_path(idea) %>">
      <svg class="icon-pluss" role="presentation">
        <use xlink:href="images/icons-defs.svg#pluss"></use>
      </svg>
      Edit
    </a>
  </div>
</div>
